HOME=HOME=/path/to/root

DB_URL=url/to/db
DB_USERNAME=db_username
DB_PASSWORD=db_pass

SEED_SECRET=secret_key
LOCATION_API_KEY=external_api_key

JWT_SECRET=jwt_secret_key

AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_REGION=region

PROMETHEUS_PASS=prometheus_password
